{{> head}}
<article class="Article">
  <h1 class="Article-title Heading Heading--huge">{{title}}</h1>
  <time class="Article-date" datetime="{{timestamp date}}">{{date date "dddd, D MMMM YYYY"}}</time>
  <div class="Article-content Prose Prose--large">
    {{{contents}}}
  </div>
</article>
<script>
  analytics.page('Article', {
    article: {
      name: "{{title}}",
      date: "{{timestamp date}}"
    }
  });
</script>
{{> foot}}